body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #99e377);
    font-size: 50px;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
}

#player1, #player2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player2 {
    display: none;
}

#my-canvas {
    display: none;
}

#point {
    display: none;
    font-size: 30px;
}

button {
    margin-top: 1cm;
    border-style: solid;
    border-width: 1.5px;
    border-color: dodgerblue;
    border-radius: 5px;
    background-color: rgb(180, 198, 201,0);
    color: dodgerblue;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

#mot, #lettre {
    border-style: solid;
    border-width: 1.5px;
    border-color: dodgerblue;
    border-radius: 5px;
    height: 30px;
    width: 300px;
}
