body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: black;
}

.square {
    width: 100px;
    height: 100px;
    margin: 10px;
}

